<%- include("./layout/dashboard_navbar.ejs") %>


<div class="container">
    <h1>Dashboard</h1>
    <h4>welcome to <%= user.name %></h4>
    <a href="/logout" class="btn btn-danger">Logout</a>
</div>